body {
  background-color: rgb(236, 231, 231);
}

#mainBox {
  display: flex;
  flex-direction: column;
  margin: 10% 30%;
  border: 1px solid rgb(129, 126, 126);
  border-radius: 2%;
  background-color: white;
  padding: 2%;
}

.list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(129, 126, 126);
}

.icon {
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
}

.intery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0%;
  border-bottom: 0.5px solid rgb(129, 126, 126);
}

@keyframes mymove {
  50% { background: rgb(135, 236, 157) bottom right/50px 50px; }
}

.input-box {
  border: none;
  width: 100%;
  min-height: 40px;
  animation-duration: 0.5s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

button {
  background-color: white;
  border: none;
  text-align: center;
  padding: 2% 0%;
  cursor: pointer;
  min-width: 30px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(129, 126, 126);
  padding: 2% 0%;
}

#approve {
  display: none;
}
